*.pyc
*.egg-info
.idea/
representation_analysis/saves/
representation_analysis/reconstructions/
representation_analysis/data/
representation_analysis/data.zip
representation_analysis/train_data
representation_analysis/test_data
representation_analysis/train_targets.npy
representation_analysis/test_targets.npy
*.ckpt
